<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/public.css">
    <link rel="stylesheet" href="assets/css/admin.css">
  </head>

  <body ng-app="Restaurant">

      <header>

        <div class="container-fluid">
            <div class="row headerStyle">
              <div class="col-sm-6">
                <a href="index.html"><div id="image-logo"></div></a>
                <a href="index.html"><span class="brand-name"><h1>Chinese Hut Delicacies</h1></span></a>
                <!-- <div class="kebab-image"></div> -->
                <span><em>"You will simply love it..."</em></span>
              </div>
            </div>
        </div>

      </header>

    <div class="spacing">
      <div class="container-fluid" ng-controller="MainController">
          <div class="row">
            <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="menuItem in menuItems" ng-click="setActive(menuItem)" ng-class="{active: activeMenu === menuItem}"><a ui-sref="{{menuItem.path}}"><span class="glyphicon glyphicon-{{menuItem.imgSuffix}}"></span>&nbsp;&nbsp;{{menuItem.name}}</a></li>
                <li ng-click="setActive({name:'Admin'})" ng-class="{active: activeMenu === {name:'Admin'}}"><a ui-sref="public.admin"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Admin</a></li>
              </ul>
            </div>
            <div class="col-md-10">
              <ui-view>
                <loading class="loading-indicator"></loading>
              </ui-view>
            </div>
          </div>



      <div class="container-fluid">
        <hr>
        <footer>
          <p>Copyright &copy; 2016 Company, Inc.</p>
        </footer>
      </div> <!-- /container -->
    </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/lib/jquery-2.1.4.min.js"></script>
    <script src="assets/lib/angular.min.js"></script>
    <script src="assets/lib/angular-ui-router.min.js"></script>
    <script src="assets/lib/bootstrap.min.js"></script>
    <script src="assets/lib/ui-bootstrap-tpls-2.3.0.min.js"></script>

    <script src="assets/js/restaurant.module.js"></script>
    <script src="assets/js/restaurant.controller.js"></script>
    <script src="assets/js/loading.controller.js"></script>
    <script src="assets/js/loading.component.js"></script>
    <script src="assets/js/loading.interceptor.js"></script>
    <script src="assets/public/public.module.js"></script>
    <script src="assets/admin/admin.controller.js"></script>
    <script src="assets/public/public.routes.js"></script>
    <script src="assets/menu/menu.service.js"></script>
    <script src="assets/menu/menu.controller.js"></script>
    <script src="assets/menu-item/menu-item.component.js"></script>
    <script src="assets/testimonials/testimonials.service.js"></script>
    <script src="assets/testimonials/testimonials.controller.js"></script>
    <script src="assets/testimonials/testimonial.component.js"></script>
    <script src="assets/contactus/contactus.controller.js"></script>
  </body>
</html>
