<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/public.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script type="text/javascript" src="http://ff.kis.v2.scr.kaspersky-labs.com/7F47543E-2EE2-4745-8FBA-6196ED32039F/main.js" charset="UTF-8"></script><script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="Restaurant">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <a href="index.html"><div id="image-logo"></div></a>
            <a href="index.html"><span class="brand-name"><h1>Lebanese Kebab Palace</h1></span></a>
            <div class="kebab-image"></div>
            <span><i>"You will simply love it..."</i></span>
          </div>
        </div>
      </div>
    </header>


    <div class="container" ng-controller="MainController">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="menuItem in menuItems" ng-click="setActive(menuItem)" ng-class="{active: activeMenu === menuItem}"><a ui-sref="{{menuItem.path}}"><span class="glyphicon glyphicon-{{menuItem.imgSuffix}}"></span>&nbsp;&nbsp;{{menuItem.name}}</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <ui-view>
            <loading class="loading-indicator"></loading>
          </ui-view>
        </div>
    </div>


    <div class="container">
      <hr>
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="assets/lib/jquery-2.1.4.min.js"></script>
    <script src="assets/lib/angular.min.js"></script>
    <script src="assets/lib/angular-ui-router.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="assets/lib/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <script src="assets/js/restaurant.module.js"></script>
    <script src="assets/js/restaurant.controller.js"></script>
    <script src="assets/js/loading.controller.js"></script>
    <script src="assets/js/loading.component.js"></script>
    <script src="assets/js/loading.interceptor.js"></script>
    <script src="assets/public/public.module.js"></script>
    <script src="assets/public/public.routes.js"></script>
    <script src="assets/menu/menu.service.js"></script>
    <script src="assets/menu/menu.controller.js"></script>
    <script src="assets/menu-item/menu-item.component.js"></script>
  </body>
</html>
