<!-- Modal Content -->
<!-- <script type="text/ng-template" id="admin.html"> -->
        <!-- <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div> -->

<!-- <div ng-controller="AdminController as ctrl"> -->
  <div modal="showModal" close="ctrl.cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ctrl.ok()">Okay</button>
      <button class="btn" ng-click="ctrl.cancel()">Cancel</button>
    </div>
  </div>
<!-- </div> -->



    <!-- </script> -->
