<div modal="showModal" close="ctrl.cancel()">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-title"><span class="glyphicon glyphicon-lock"></span>&nbsp;Admin Authentication</h4>
  </div>
  <div class="modal-body">
      <p>Please enter your admin credentials below</p>
      <br>
      <fieldset>
        <form id="adminForm" class="form-horizontal" name="adminForm" novalidate>
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-6">
              <input type="text" name="username" required class="form-control" id="username" placeholder="Enter Username" ng-model="ctrl.admin.username">
            </div>
            <span ng-if="adminForm.username.$error.required && adminForm.username.$touched">
              <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Username is required
            </span>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-6">
              <input type="password" name="password" required class="form-control" id="password" placeholder="Enter password" ng-model="ctrl.admin.password">
            </div>
            <span ng-if="adminForm.password.$error.required && adminForm.password.$touched">
              <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Password is required
            </span>
          </div>
        </form>
      </fieldset>
      <p class="error">{{ctrl.okClicked | json}}</p>
      <p class="error" ng-show="ctrl.okClicked && !ctrl.isAdminValid"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Invalid Credentials.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-disabled="adminForm.$invalid" ng-click="ctrl.ok(ctrl.admin)">Okay</button>
    <button class="btn btn-danger" ng-click="ctrl.cancel()">Cancel</button>
  </div>
</div>
