.modal-header h4, .modal-body p, .form-group label {
  color: black;
  font-family: 'Oxygen', sans-serif;
}

.form-group span, .modal-body p.error {
  color: red;
  font-family: 'Oxygen', sans-serif;
}

.form-group span > span {
  font-family: 'Glyphicons Halflings'
}
