.card-container {
  width: 280px;
  height: 250px;
  border: 1px solid gray;
  background-color: #000;
  margin: 10px;
  padding: 8px;
  box-shadow: 8px 8px 2px #0a0003;
  float: left;
}
.card-title {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: red;
  margin-bottom: 5px;
}
.card-description {
  height: 90px;
  /*border: 1px solid yellow;*/
  padding: 5px;
  color: #000;
  background-color: beige;
  text-align: justify;
}
.card-details {
  font-size: 13px;
  margin-top: 10px;
}
/*.card-details table {
  border: 1px solid white;
}*/
.card-details table td:nth-child(odd) {
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 2px;
  text-align: left;
}
.card-details table td:nth-child(even) {
  padding-top: 2px;
  padding-left: 55px;
  padding-right: 41px;
  padding-bottom: 5px;
  text-align: center;
}
