body {
  background-color: #afeeee;
  font-family: 'Lora';
}
#image-logo {
  background: url('../images/chef-icon.png') no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
  float: left;
  margin-top: 20px;
}
.brand-name {
  font-family: 'Oxygen';
  font-weight: bold;
  font-size: 1.5em;
  color: #fcfc05;
  text-shadow: 1px 1px 1px #282;
}
/*.brand-name h1 a:hover, .brand-name h1 a:focus {
  text-decoration: none;
}*/
.brand-name h1 {
  text-decoration: none;
}
.kebab-image {
  background: url('../images/kebab-icon.png') no-repeat;
  width: 96px;
  height: 96px;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}
.halal-image {
  background: url('../images/halal.jpg') no-repeat;
  width: 180px;
  height: 180px;
  display: inline-block;
  float: left;
}
.thumbnail {
  max-height: 280px;
}
.caption {
  padding: 5px;
}
/*.jumbotron {
    padding: 12px;
}*/
