body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
.headerStyle {
  background-color: black;
}
.spacing {
  margin-top: 20px;
}
.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}
.text-centre {
  width: auto;
  text-align: center;
  margin: 10px;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
.testimonial {
  color: black;
  background-color: #16f7bf;
  border: 1px solid gold;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 25px;
  border-radius: 12px;
  width: 250px;
  height: 180px;
  box-shadow: 8px 8px 2px #0a0003;
}
.statement {
  font-style: italic;
  background-color:white;
  border-radius:12px;
  min-height: 50px;
}
.addTestimonial {
  clear:both;
}
.specials {
  border: 1px solid black;
}
